
<div id="content">
    <div id="text">
        <h1 id="title"><strong>¿Qué hacemos en Logiwelt?</strong></h1>
        <h5>Somos una consultora especializada en Cadenas de Suministro:</h5><br>
        <ul>
            <li> <mat-icon class="blue-icon">near_me</mat-icon>Optimizamos inventarios y procesos.</li>
            <li> <mat-icon class="blue-icon">near_me</mat-icon>Codiseñamos Planeación Estrategica</li>
            <li> <mat-icon class="blue-icon">near_me</mat-icon>Consultoria en Cadena de Suministro</li>
            <li> <mat-icon class="blue-icon">near_me</mat-icon>Desarrollamos Software a la medida</li>
            <li> <mat-icon class="blue-icon">near_me</mat-icon>Outsorcing o tercerización de operaciones</li>
            <li> <mat-icon class="blue-icon">near_me</mat-icon>Proyecto de comercio electrónico</li>
        </ul>
    </div>
</div>
