<div class="view intro jarallax">
  <div class="full-bg-img mask rgba-white-light">
    <div id="img">
      <img  id="imgparalax" src="../../assets/aboutusarea/us.png" alt="">
    </div>
      
      <div id="tabs" >
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-nosotros-tab" data-toggle="pill" href="#pills-nosotros" role="tab" aria-controls="pills-nosotros" aria-selected="true"><mat-icon class="bt">supervisor_account</mat-icon><br>NOSOTROS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-mision-tab" data-toggle="pill" href="#pills-mision" role="tab" aria-controls="pills-mision" aria-selected="false"><mat-icon class="bt">policy</mat-icon><br>MISIÓN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-vision-tab" data-toggle="pill" href="#pills-vision" role="tab" aria-controls="pills-vision" aria-selected="false"><mat-icon class="bt">visibility</mat-icon><br>VISIÓN</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-nosotros" role="tabpanel" aria-labelledby="pills-nosotros-tab"> <h5><mat-icon>supervisor_account</mat-icon> Nosotros</h5>Convertirnos en uno de los principales proveedores de servicios de consultoría estratégica para temas de Cadena de Suministro.</div>
              <div class="tab-pane fade" id="pills-mision" role="tabpanel" aria-labelledby="pills-mision-tab"><h5><mat-icon>policy</mat-icon>Nuestra Misión</h5>
                Nuestra misión en Logiwelt es ayudarle a ser más competitivo haciendo que la cadena de suministro sea una ventaja estratégica de su empresa. Generamos mayor rentabilidad para su negocio usando herramientas de análisis, sistemas, procesos y soluciones que se adecuan a la necesidad de cada socio comercial.</div>
              <div class="tab-pane fade" id="pills-vision" role="tabpanel" aria-labelledby="pills-vision-tab"><h5><mat-icon>visibility</mat-icon> Nuestra Visión</h5>
                Convertirnos en uno de los principales proveedores de servicios de consultoría estratégica para temas de Cadena de Suministro.  </div>
            </div>
        
      </div>
  </div>
  
</div>

