.view{
    background-image: url(../../assets/subsarea/almacen.png); 
    background-attachment: fixed; 
    height: 70%;
    .full-bg-img{
        height: 100%;
        background-color: rgba(20, 77, 100, 0.5);
        text-align: center;
    }
    #texts{
        color: white;
        text-align: center;
        padding-top: 13%;
    }
    #submit{
        width: 70%;
        margin-left: 15%;
    }
    .input-group{
        text-align: center;
    }
}
