<div class="view intro jarallax">
  <div class="full-bg-img mask rgba-white-light">
    <div id="texts">
      <h1><strong>NEWSLETTER</strong></h1>
      <h5>Suscribete y recibe promocione y novedades</h5>
      
    </div><br>
    <div id="submit">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Tu correo electrónico" aria-label="Recipient's username"
            aria-describedby="button-addon2" style="background-color:rgb(255, 255, 255,0.5)">
          <div class="input-group-append">
            <button class="btne"  type="button" id="button1" style="background-color:rgb(23, 178, 240)"><mat-icon style="color:white">email</mat-icon></button>
          </div>
  
        </div>
      </div>

   
  </div>
</div>