//variables
$background: rgba(0,0,0,0.5);
*{visibility: visible;
    
}
.navbar{
    width: 100%;
    visibility: visible;
    background-color: #182652!important;
    .navbar-fixed-top.scrolled {
    visibility: visible;
    transition: visibility 200ms linear;
    }   
    #logo{
        visibility: visible;
        display: inline-block;
        position: relative;
        margin-left: 10%;
        width: 50%;
    }
    
    .nav-link{
        color: white;
    }
    .navbar-nav{
        margin-left: 70%;
    }
    
    .collapse, .navbar-nav {
        border: none;
    }
    
   
}