<section id="what-we-do">
    <div class="container-fluid">
        <h2 class="section-title mb-2 h1">Servicios</h2>
        <div class="row ">
            <div class="col">
                <div class="card">
                    <div class="card-block block-1">
                        <img src="../../assets\services\2.png">
                        <h3 class="card-title">Proyectos de disminución de inventarios</h3>
                        <p class="card-text">----------------------------------------------------
                            -	Libera capital detenido en inventarios altos
                            -	Implementa   nuestro  método  comprobado -
                            -	Disminuye el riesgo de obsolescencia - - - -
                            -	Aumenta la satisfacción del cliente - - - - - -
                            -	Evita la falta de inventario (stock-outs) - - -
                            -	Mejora el proceso de compras - - - - - - - - -
                            -	Claridad en cuanto pedir y cuando - - - - - -.</p>
                         
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card"> 
                    <div class="card-block block-2">
                        <img src="../../assets\services\2.png">
                        <h3 class="card-title">Proyectos de disminución de inventarios</h3>
                        <p class="card-text">----------------------------------------------------
                            -	Libera capital detenido en inventarios altos
                            -	Implementa   nuestro  método  comprobado -
                            -	Disminuye el riesgo de obsolescencia - - - -
                            -	Aumenta la satisfacción del cliente - - - - - -
                            -	Evita la falta de inventario (stock-outs) - - -
                            -	Mejora el proceso de compras - - - - - - - - -
                            -	Claridad en cuanto pedir y cuando - - - - - -.</p> 
                    </div>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-block block-4">
                        <img src="../../assets\services\2.png">
                        <h3 class="card-title">Proyectos de disminución de inventarios</h3>
                        <p class="card-text">----------------------------------------------------
                            -	Libera capital detenido en inventarios altos
                            -	Implementa   nuestro  método  comprobado -
                            -	Disminuye el riesgo de obsolescencia - - - -
                            -	Aumenta la satisfacción del cliente - - - - - -
                            -	Evita la falta de inventario (stock-outs) - - -
                            -	Mejora el proceso de compras - - - - - - - - -
                            -	Claridad en cuanto pedir y cuando - - - - - -</p> 
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-block block-5">
                        <img src="../../assets\services\2.png">
                        <h3 class="card-title">Proyectos de disminución de inventarios</h3>
                        <p class="card-text">----------------------------------------------------
                            -	Libera capital detenido en inventarios altos
                            -	Implementa   nuestro  método  comprobado -
                            -	Disminuye el riesgo de obsolescencia - - - -
                            -	Aumenta la satisfacción del cliente - - - - - -
                            -	Evita la falta de inventario (stock-outs) - - -
                            -	Mejora el proceso de compras - - - - - - - - -
                            -	Claridad en cuanto pedir y cuando - - - - - -</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>	
</section>
