<div class="bar" >
    <div class="schelude">
            <mat-icon class="white-icon">query_builder</mat-icon>
            <div id="text">
                    <h6><strong>HORARIO DE ATENCIÓN</strong></h6>
                        <p>Lunes-Viernes 10:00 - 18:00</p>
            </div>
    </div>
    <div class="ubication">
            <mat-icon class="white-icon">map</mat-icon>
            <div id="text">
                    <h6><strong>CORPORATIVO ANDARES</strong></h6>
                        <p>Av Patria 2085, Zapopan, Jal</p>
            </div>
    </div>

    <div class="contac">
            <mat-icon class="white-icon">call</mat-icon>
            <div id="text">
                    <h6><strong>TELÉFONO DE CONTACTO</strong></h6>
                        <p>52(33) 3000 2664 | +52 (33) 2256 0590</p>
            </div>
    </div>
</div>